/* 公共类 */
/*base style*/
html {
  body {
    font-size: 14px;
    color: #333333;
    min-width: 1280px;
    background: rgb(255, 255, 255);
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "微软雅黑";

    div,
    span,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    abbr,
    address,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    samp,
    small,
    strong,
    sub,
    sup,
    var,
    b,
    i,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    figure,
    footer,
    header,
    menu,
    nav,
    section,
    time,
    mark,
    audio,
    video,
    details,
    summary {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    dl,
    dt,
    dd {
      margin: 0;
      padding: 0;
      cursor: pointer;
    }

    i,
    em {
      font-style: normal
    }

    @media screen and (max-width: 1900px) {
      .base-card .Cpanel_statistical_box>div.Cpanel_each_box {
        width: 245px;
      }

      .base-card .Cpanel_statistical_box>div.Cpanel_each_box.user_detail_info {
        width: 222px;
      }

      .base-card .Cpanel_statistical_box>div.Cpanel_each_box.details_min_box {
        width: 145px;
      }

      .base-card .Cpanel_statistical_box>.Cpanel_each_box .PMSelect {
        padding-left: 74px;
      }

    }
  }

  

}


// 背景/选中/主题色
$primary01: #1fb5ac;
$primary01: #1fb5ac;
$primary02: #409EFF;
$primary03: #F56C6C;
$primary04: #909399;
$primary05: #000000;

// 按钮色 -> 主色按钮跟主题色
$but-primary: $primary01 !default;
$btn-warning: #ff2021;
$btn-primaryC: #fff;

// 字体色 -> 主色对应数字
$txt-primaryT: #fff;

@mixin bg_color($color) {
  background-color: $color;
  [data-theme="theme1"] & {
    background-color:$primary01;
  }
  [data-theme="theme2"] & {
    background-color:$primary02;
  }
  [data-theme="theme3"] & {
    background-color:$primary03;
  }
  [data-theme="theme4"] & {
    background-color:$primary04;
  }
}

@mixin sliderBG($color) {
  background-color: $color;
  [data-theme="theme1"] & {
    background-color:$primary02;
  }
  [data-theme="theme2"] & {
    background-color:$primary03;
  }
  [data-theme="theme3"] & {
    background-color:$primary04;
  }
  [data-theme="theme4"] & {
    background-color:$primary01;
  }
}

@mixin color($color) {
  color: $color;
  [data-theme="theme1"] & {
    color:$primary01;
  }
  [data-theme="theme2"] & {
    color:$primary02;
  }
  [data-theme="theme3"] & {
    color:$primary03;
  }
  [data-theme="theme4"] & {
    color:$primary04;
  }
}

@mixin outLine($color) {
  outline-color: $color;
  [data-theme="theme1"] & {
    outline-color:$primary01;
  }
  [data-theme="theme2"] & {
    outline-color:$primary02;
  }
  [data-theme="theme3"] & {
    outline-color:$primary03;
  }
  [data-theme="theme4"] & {
    outline-color:$primary04;
  }
}

@mixin border_color($color) {
  border-color: $color;
  [data-theme="theme1"] & {
    border-color:$primary01;
  }
  [data-theme="theme2"] & {
    border-color:$primary02;
  }
  [data-theme="theme3"] & {
    border-color:$primary03;
  }
  [data-theme="theme4"] & {
    border-color:$primary04;
  }
}
